<mat-sidenav-container class="side-container">
  <mat-sidenav mode="over" class="sidenav" #sidenav>
    <nav-list></nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="main-content">
    <mat-toolbar color="primary" class="toolbar mat-elevation-z6">
      <button mat-icon-button class="toolbar-menu-button"
        (click)="sidenav.open()">
        <mat-icon class="toolbar-menu-icon">menu</mat-icon>
      </button>
      <span class="toolbar-push"></span>
      <span class="toolbar-title">Oakland Engineering</span>
    </mat-toolbar>
    <splash-title class="splash-header mat-elevation-z6"></splash-title>
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
