@import "~@angular/material/theming";
@import "./_theme.scss";
@import "./_mech-oak-app-theme.scss";

// Load the theme
@include mat-core();
@include angular-material-theme($theme);
@include mech-oak-app-theme($theme);


html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}
